html{
    background-color: black;
}
.parentDiv{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    max-height: 100vh;
}
.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    /* grid-row-end: ; */
    background-color:rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title{
    color: white;
    font-weight: normal;
    font-family: monospace;
    font-size: 2rem;
}
.PriorityHeadDiv{
    height: 40px;
    width: 100%;
    color: white;
    
    background-color:rgb(61, 61, 61);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: x-large;
}
.PriorityHeadDiv:hover{
    height: 40px;
    width: 100%;
    color: white;
    background-color:rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: x-large;
}
.addProjButton{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(222, 8, 8);
    padding: 10px 20px 10px 20px;

}
.ProjlistDiv{
    height: 450px;
    min-height: 450px;
    margin-top: 20px;
    width: 96%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    
}
.projectDiv{
    height: 30px;
    min-height: 30px;
    width: 96%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: grey;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.maindiv{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace;

}
.projheading{
    color: white;
    font-size: 2rem;
}
.taskdiv{
    height: 400px;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    width: 95%;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.todo{
    height: 50px;
    width: 96%;
    background-color: rgb(32, 32, 32);
    margin: 10px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}
.TodoTitle{
    margin-left: 20px;
}
.TodoDate{
    margin-left: 200px;
}
.TodoPriority{
    margin-right: 10px;
}
.task-button{
    margin-top: 30px;
    background-color: rgb(255, 43, 43);
    font-size: 3rem;
    padding: 0 30px 5px 30px;
    color: white;
    border-color:rgb(255, 43, 43) ;
    border-radius: 20px; 
}
.projectForm{
    height: 100px;
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 575px;
    margin-top: 200px;
    border-radius: 20px;

}
.taskForm{
    height: 200px;
    width: 300px;
    padding: 30px;
    position: fixed;
    margin-left: 575px;
    margin-top: 150px;
    background-color: white;
    border-radius: 30px;

}
.projectForm input{
    width: 100px;
}
.prjSubmButton{
    height: 30px;
    width: 40px;
    margin: 10px;
}

.descP{
    vertical-align: baseline;
}
.taskSubmitDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submitTaskButton{
    
    padding: 0 5px 0 5px;
}
.TodoDetails{
    height: auto;
    min-height: 400px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 100px;
    
    position: fixed;
}
.todoDetailChild{
    width: 100%;
}
.todoDetailChild p{
    margin-left: 10px;
}
.todoDetailChild input{
    margin-left: 40px;
}
.todo-detail-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.todo-button{
    height: 30px;
    width: 60px;
}